@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #8FDCBE;
}

.board {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: #8FDCBE;*/
}

.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: black  ;
}

.reset-button {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
}

/*.board-container {*/
/*  margin-top: 15px;*/
/*}*/

.board-grid {
  border: 1px solid gray;
}

.row-index-container {
  margin-top: 15px;
}

.row-indexes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 75px;
}

.board-row {
  display: flex;
}

.board-row {
  display: flex;

}

.board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  position: relative;
}

.board-cell:hover {
  background-color: white;
}

.board-cell-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.col-indexes-container {
  display: flex;
}

.col-indexes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 40px;
}

.info-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.player-white {
  height: 100%;
  /*width: 200px;*/
  margin-right: 40px;
  padding: 250px 50px;
}

.player-black {
  height: 100%;
  width: 200px;
  margin-left: 40px;
  padding: 250px 50px;
}

.player-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.start-button {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.killed-pieces-section {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.killed-piece {
  width: 20px;
  height: 20px;
}

.pawn-promotion-container {
  width: 75px;
  height: 75px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: white;
}

.pawn-promotion-image {
  width: 100%;
  height: auto;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal-box {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  min-width: 250px;
  position: relative;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}